* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: #27323a;
}

/* Title */
h1 {
  margin-top: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Nickname input */
#input_nickname {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 12rem;
  height: 1.5rem;
}

/* Game display */
.game_display {
  position: relative;
}

.icons_container {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  opacity: 0.4;
}

.icons_container img {
  width: 85px;
  box-shadow: 2px 2px 4px #adadad;
  margin: 5px;
}

.icons_container img:hover {
  box-shadow: 3px 3px 4px #919191;
  cursor: pointer;
}

#play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: url("icons/other_icons/play-square-svgrepo-com.svg") no-repeat;
  background-size: 85px 85px;
  width: 85px;
  height: 85px;
}

#play_button:hover {
  background: url("icons/other_icons/play-square-onhover-svgrepo-com.svg")
    no-repeat;
  background-size: 85px 85px;
  cursor: pointer;
}

.display_none {
  display: none;
}

/* Game time */
.time_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 0.4rem;
}

.time_container img {
  display: inline-block;
  width: 18px;
  margin-right: 5px;
}

.time_stop {
  filter: invert(27%) sepia(51%) saturate(28%) hue-rotate(30deg)
    brightness(104%) contrast(97%);
}

.time_container p {
  display: inline-block;
}

#stop_button,
#reset_button {
  background-color: #e8ecf3;
  padding: 5px 10px;
  border: 1px solid rgb(61, 61, 60);
  border-radius: 4px;
}

#stop_button:hover,
#reset_button:hover {
  cursor: pointer;
  background-color: #79ccbf;
}

/* Set game levels */
#set_levels_container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

#set_levels_container label {
  font-size: 1.2rem;
  margin-right: 5px;
}

/* Score */
.score_container {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.buttons_score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_score {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 22rem;
}

.table_score,
th,
td {
  border: 1px solid;
}

td,
tr {
  width: 5rem;
}

.prvi_red {
  background-color: #e1e8e9;
}

.buttons_score input[type="button"] {
  background-color: #e8ecf3;
  padding: 5px 10px;
  border: 1px solid rgb(61, 61, 60);
  border-radius: 4px;
  height: 25px;
  margin-left: 5px;
}

.buttons_score input[type="button"]:hover {
  cursor: pointer;
  background-color: #79ccbf;
}

.selected_score_button {
  background-color: #79ccbf !important;
}

#results_img {
  width: 40px;
}

/* PHONE MEDIA QUERY */
@media screen and (max-width: 500px) {
  /* Game display */
  .icons_container {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .icons_container img {
    width: 78px !important;
    margin: 3px;
  }
}
